@import url('https://fonts.googleapis.com/css?family=Bevan|Didact+Gothic|Goblin+One|Martel:900|Poiret+One|Raleway|Rokkitt|Vidaloka&display=swap');

body {
	font-family: 'Raleway', monospace;
	color: #FFFFFF;
	background-color: #5C6896;
	height: 100vh;
}

h1 {
	font-family: 'Vidaloka', cursive;
	color: #A9DFE2;
	font-size:60px;
}

h4 {
	color: #E56B70;
	font-size:30px;
	font-weight: bold;
}

h3 {
	font-family: 'Anonymous Pro', monospace;
	color: #6e86a6;
}

a {
  color: white;
  text-decoration: none;
  border-color: #FDB3CA;
  border-width: 0px 0px 1px 0px;
  border-style: none none solid none;
}

a:hover {
  color: #FDB3CA;
  text-decoration: none;
  border-color: #dcae1d;
  border-width: 0px 0px 1px 0px;
  border-style: none none solid none;
}

li {
  color: #84BC9C;
}

li > span {
	color: white;
}

.btn-circle {
  color: #0A2342;
  background-color: #2CA58D;
  border-color: #2CA58D;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
